/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */

.dark-blue-color{
    color: #105a8f;
}

.dark-blue-background{
    background-color:#105a8f;
}

.dark-border{
    border:2px solid #073e66;
}

.navbar-text{
    color:white;
    font-size: 20px;
    text-transform: uppercase;
}

.light-blue-color{
   color: #79c0f2;
}
.white-text{
    color: white;
}

.text-big{
    font-size: 22px;
}

.text-regular{
    font-size:16px;
}

.nav-logo{
    font-size: 22px;
    font-weight: bold;
    color:white;
    padding: 20px;
    text-decoration: none;
    border: 4px solid rgba(255, 255, 255, 0.6);
    margin-left: 4px;
}
.nav-logo:hover{
    color: white;

}

.nav-button{
    color:white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    margin:10px 20px;
    padding: 10px;
}
.nav-button:hover{
    color: rgb(224, 222, 222);
}

.certificates-button{
    color:#073e66;
    background-color: white;
    border: 2px solid #073e66;
    margin-top: 7px;
    min-width: 40%;
    padding:16px 26px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: .3s ease-in-out;
}
.certificates-button:hover{
    color: white;
    background-color: #073e66;
    transition: .3s ease-in-out;
}

.certificates-button-disabled{
  color:lightgray;
  background-color: white;
  border: 2px solid lightgray;
  margin-top: 7px;
  min-width: 40%;
  padding:16px 26px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  transition: .3s ease-in-out;
}

.red-button{
    color:#bc1212;
    background-color: white;
    border: 2px solid #073e66;
    margin-top: 7px;
    min-width: 40%;
    padding:16px 26px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: .3s ease-in-out;
}
.red-button:hover{
    color: rgb(255, 248, 248);
    background-color: red;
    transition: .3s ease-in-out;
}